.textValues{
    width: 50%;
}
.buttons{
    width: 50%;/*Задаёт ширину элементов в 50%*/
}
.test-container{
    width: 100%;
    display: inline-flex; /*Задаёт все элементы этого div в один ряд*/
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}